APP_ENV=local
APP_DEBUG=true
APP_URL=http://dominio.com

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=""

SESSION_NAME=
SESSION_SAMESITE=Lax

META_APP_ID=
META_APP_SECRET=
META_REDIRECT_URI=
META_GRAPH_VERSION=v25.0
META_DEBUG_LOG=false

MAIL_SMTP_HOST=
MAIL_SMTP_PORT=587
MAIL_SMTP_SECURE=tls
MAIL_SMTP_USER=
MAIL_SMTP_PASS=""
MAIL_FROM_EMAIL=
MAIL_FROM_NAME="Dashboard ALP"
MAIL_REPLY_TO=
